@use "../../../presets" as *;
@use "../../../mixins" as *;

.cases {
  display: grid;

  @include lg-min {
    grid-template-areas: "a1 a1 a3 a3 a4"
    "a2 a2 a3 a3 a4"
    "a5 a6 a6 a7 a7";
    grid-template-columns: 24% 9% 1fr 8.5% 33%;
    grid-template-rows: 12% 1fr 1fr;
  }
  @include lg {
    grid-template-areas: "a1 a1 "
    "a2 a3"
    "a4 a5"
    "a6 a7";
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-areas: "a1"
    "a2"
    "a3"
    "a4"
    "a5"
    "a6"
    "a7";
    grid-template-columns: 1fr;
  }
}




.cases > div:nth-of-type(1) {
  justify-content: center;

  border: 1px solid #ffffff;
  border-radius: 12px 0 0 0;

  grid-area: a1;
  @include lg {
    border-radius: 12px 12px 0 0;
  }
}

.cases > div:nth-of-type(2) {
  border: 1px solid #ffffff;

  grid-area: a2;
}

.cases > div:nth-of-type(3) {
  border: 1px solid #ffffff;

  grid-area: a3;
}

.cases > div:nth-of-type(4) {
  border: 1px solid #ffffff;
  border-radius: 0 12px 0 0;

  grid-area: a4;
  @include lg {
    border-radius: 0;
  }
}

.cases > div:nth-of-type(5) {
  border: 1px solid #ffffff;
  border-radius: 0 0 0 12px;

  grid-area: a5;
  @include lg {
    border-radius: 0;
  }
}

.cases > div:nth-of-type(6) {
  border: 1px solid #ffffff;

  grid-area: a6;
  @include lg {
    border-radius: 0 0 0 12px;
  }
  @include md {
    border-radius: 0 0 0 0;
  }
}

.cases > div:nth-of-type(7) {
  border: 1px solid #ffffff;
  border-radius: 0 0 12px 0;

  grid-area: a7;
  @include md {
    border-radius: 0 0 12px 12px;
  }
}


.cases-section {
  display: flex;
  flex-direction: column;

  padding: 20px;

  cursor: pointer;

  background-color: #f5f5fa;

  @include lg-min {
    justify-content: flex-end;
  }

  &:hover {
    background-color: #9292a364;
  }

  &__title {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #f0145a;

    font-size: 14px;
    line-height: 17px;
  }

  &__description {
    display: flex;
    align-items: flex-end;

    margin-bottom: 20px;

    color: #686887;

    font-size: 24px;
    line-height: 28px;
  }

  &__notes {
    color: #b3b3ba;

    font-size: 18px;
    line-height: 26px;
  }
}
