@use "../../presets" as *;
@use "../../mixins" as *;


.box-section {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  background-color: white;
}

.display {
  @include lg-min {
    display: none;
  }
}


.footer-primary__box>div:nth-of-type(1) {
  grid-area: a1;
}

.footer-primary__box>div:nth-of-type(2) {
  grid-area: a2;
}

.footer-primary__box>div:nth-of-type(3) {
  grid-area: a3;

  @include sm {
    display: none;
  }
}

.footer-primary__box>div:nth-of-type(4) {
  grid-area: a4;
}

.footer-primary__box>div:nth-of-type(5) {
  grid-area: a5;

  @include sm {
    display: none;
  }
}

.footer-primary__box>div:nth-of-type(6) {
  grid-area: a6;

  @include sm {
    display: none;
  }
}

.box-section__title {
  margin-bottom: 10px;
  padding: 20px;
  padding-bottom: 0;

  @include sm {
    margin-bottom: 0;
  }
}

.box-section__link {
  /* Active / Regular */
  color: $color-active;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.box-section__date {
  padding: 20px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: $color-gray-text;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.box-section__description {
  position: relative;

  padding: 21px;
  padding-top: 20px;

  color: $color-black;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @include md {
    display: none;
  }
}

.box-section__description::after {
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;

  height: 4px;

  content: "";

  background-color: $color-gray-separator;
}


.box-section__picture {
  order: -1;
}

.box-section__image {
  width: 100%;
}