@use "../../presets" as *;
@use "../../mixins" as *;


.footer {
    background-color: #f5f5fa;
}

.footer-primary {
    //position: absolute;

}

.footer-primary__box {
    display: grid;
    gap: 40px;
    grid-template-areas: "a1 a2 a3"
        "a4 a2 a3"
        "a4 a5 a3"
        "a4 a5 a6";
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 39% 14% 0%;

    position: relative;

}

.footer-primary__box::after {
    position: absolute;
    top: 70%;
    right: -5px;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
}

.footer-primary__action {}

.footer-primary__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    margin-top: 40px;
}

.footer-primary__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 40px;
}