@use "../../../presets" as *;
@use "../../../mixins" as *;

.footer-secondary--about::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 4px;

  content: "";

  background-color: $color-gray-separator;
}