@use "../../../presets" as *;
@use "../../../mixins" as *;

.services {
    background: linear-gradient(193deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-bottom: 100px;
    position: relative;
    margin-bottom: 100px;

    &::before {
        position: absolute;
        height: 20px;
        top: 100%;
        left: 40px;
        right: 40px;
        background-color: $color-gray-separator;
        content: "";
        border-radius: 0 0 12px 12px;
    }

    &::after {
        position: absolute;
        height: 10px;
        top: 100%;
        left: 20px;
        right: 20px;
        background-color: #CACADB;
        content: "";
        border-radius: 0 0 12px 12px;
    }

    &__link {
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 1px;
        text-transform: uppercase;

        color: #FFFFFF;
        opacity: 0.5;
        padding-bottom: 3px;

    }

    &__title {
        font-size: 42px;
        line-height: 50px;

        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-top: 3px;
        margin-bottom: 68px;
    }

    &-grid {
        display: grid;

        gap: 40px;

        @include lg-min {
            grid-template-columns: repeat(3, 1fr);
        }

        @include lg-sm {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }


        @include sm {
            grid-template-columns: repeat(1, 1fr);
            
        }

    }
}

.services-container {}