@use "../../../presets" as *;
@use "../../../mixins" as *;






.face-indicators {
  display: flex;
  justify-content: center;

  gap: 14px;
}

.face-indicator {
  width: 16px;
  height: 16px;
  margin-bottom: 40px;

  opacity: 0.2;
  border-radius: 8px;
  background: $color-active;

  &.active {
    opacity: 1;
  }
}