@use "../../../presets" as *;
@use "../../../mixins" as *;



.face-box {
    background-color: #f5f5fa;
    display: flex;
    gap: 40px;
    border-radius: 12px;
    margin-bottom: 20px;



    &__picture {

        @include lg {
            display: none;
        }
    }

    &__image {}
}

.face-contant {
    padding-top: 40px;
    padding-bottom: 40px;
    @include lg {
            padding-left: 20px;
                padding-right: 20px;
    }


    &__flex {
        display: flex;
    }

    &__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        padding-bottom: 20px;

        @include lg {
font-size: 32px;
    line-height: 38px;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        color: #B3B3BA;
        padding-bottom: 5px;
    }

    &__about {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 138% */


        /* Grey / Text */

        color: #B3B3BA;
    }


}

.face-contant__indicators {
}

        .face-contant__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        letter-spacing: 1px;
        text-transform: uppercase;

        /* Active / Regular */

        color: #24A3FF;
    }


.face-contant__flex-pictures {
    margin-right: 10px;
    display: none;

    @include lg {
        display: block;
    }
}




