@use "../../../presets" as *;
@use "../../../mixins" as *;

.face-indicators {


}




.face-indicators {
  display: flex;
        justify-content: center;
        gap: 14px;
   
}

.face-indicator {
    width: 16px;
    height: 16px;
    opacity: 0.2;
    border-radius: 8px;
    background: #24a3ff;

    &.active {
        opacity: 1;
    }
}