@use "../../../presets" as *;
@use "../../../mixins" as *;

.header-about {
  position: relative;

  overflow: hidden;

  

  background: #ffffff;
  background: #000000;
  margin-bottom: 40px;

}


.header-menu {
  position: relative;
  z-index: 1;


  display: grid;
  justify-content: space-between;

  padding-top: 50px;

  gap: 0 $gap;
  grid-template-areas: "logo info"
    "logo nav";

  @include md {
    padding-top: 20px;

    gap: $gap;
    grid-template-areas: "info info"
      "logo logo"
      "nav nav";
  }

  @include sm {
    grid-template-areas: "info info"
      "logo nav";
  }
}