@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu__navbar {
    grid-area: nav;
}

.navbar {

    &__list {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        @include md {
            justify-content: flex-start;
        }

        @include sm {
           display: none;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            background: linear-gradient(180deg, rgba(50, 50, 100, 0) 40%, #323264 100%);
            box-shadow: 0 15px 10px #323264;

        }

    }

    &__item {}

    &__link {
        padding: 0.5em 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;

        &:hover {
            color: $color-accent;
        }
    }

}

.navbar-hamburger {
    width: 30px;
    height: 22.5px;
    position: relative;

    transform: rotate(0deg);

    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    margin-left: auto;

    @include sm {
        display: block;
    }
}

.navbar-hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $color-white;
    border-radius: 3px;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);

    transition: .25s ease-in-out;
}

.navbar-hamburger span:nth-child(1) {
    top: 0px;
}

.navbar-hamburger span:nth-child(2) {
    top: 9px;
}

.navbar-hamburger span:nth-child(3) {
    top: 18px;
}

.navbar-hamburger.open span:nth-child(1) {
    top: 9px;

    transform: rotate(135deg);
}

.navbar-hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -30px;
}

.navbar-hamburger.open span:nth-child(3) {
    top: 9px;

    transform: rotate(-135deg);
}