@use "../../presets" as *;
@use "../../mixins" as *;

.header {
    height: 100vh;
    background: $bg-gradient-1;

}

.header-menu {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "logo info"
        "logo nav";
        padding-top: 50px;
}