@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu__navbar {
  grid-area: nav;
}

.navbar {
  &__list {
    display: flex;
    justify-content: flex-end;

    gap: 15px;

    @include lg {
      justify-content: flex-start;
    }

    @include sm {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: none;

      height: 70vh;
      padding-top: 62px;

      text-align: center;

      border-radius: 0 0 12px 12px;
      background: $color-white;
      box-shadow: 0 0 150px $color-active;
    }
  }

  &__item {
    @include sm {
      margin-right: 20px;
      margin-bottom: 11px;
      margin-left: 20px;
      padding: 8px;

      border-radius: 12px;
      background: #ededf7;
    }
  }

  &__link {
    padding: 0.5em 0;

    color: $color-white;

    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

    @include sm {
      text-align: center;

      color: $color-active;

      font-size: 24px;
      line-height: 28px;
    }

    &:hover {
      color: $color-accent;
    }
  }
}

.navbar-hamburger {
  position: relative;
  z-index: 5;

  display: none;

  width: 30px;
  height: 22.5px;
  margin-left: auto;

  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);

  @include sm {
    display: block;
  }
}

.navbar-hamburger.open {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-hamburger.open span {
  background: $color-accent;
}

.navbar-hamburger span {
  position: absolute;
  left: 0;

  display: block;

  width: 100%;
  height: 4px;

  transition: 0.25s ease-in-out;
  transform: rotate(0deg);

  opacity: 1;
  border-radius: 3px;
  background: $color-white;
}

.navbar-hamburger span:nth-child(1) {
  top: 0;
}

.navbar-hamburger span:nth-child(2) {
  top: 9px;
}

.navbar-hamburger span:nth-child(3) {
  top: 18px;
}

.navbar-hamburger.open span:nth-child(1) {
  top: 9px;

  transform: rotate(135deg);
}

.navbar-hamburger.open span:nth-child(2) {
  left: -30px;

  opacity: 0;
}

.navbar-hamburger.open span:nth-child(3) {
  top: 9px;

  transform: rotate(-135deg);
}