@use "../../presets" as *;
@use "../../mixins" as *;


.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  &__image {
    position: absolute;
    // bottom: 0;
    // transform: scale(1);
  }

  &__title {
    position: absolute;

    max-width: 600px;
    padding-bottom: 180px;

    text-align: center;

    color: #ffffff;

    font-size: 38px;
    font-weight: 500;
    line-height: 45px;
  }
}
