@use "../../presets" as *;
@use "../../mixins" as *;



.header-menu__logo {
  grid-area: logo;
}

.logo {
  &__image {
   // width: 155px;
height: 62px;
    @include sm {
    height: 31px;
    }
  }
}
