@use "../../presets" as *;
@use "../../mixins" as *;


.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  &__image {
    position: absolute;

    bottom: 0;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;

    transform: translate(-50%, -50%);
  
    text-align: center;

    color: #ffffff;

    font-size: 38px;
    font-weight: 500;
    line-height: 45px;

    @include sm-min {
      width: 600px;
    }
    @include sm {
      width: 420px;
    }
  }
}
