@use "../../presets" as *;
@use "../../mixins" as *;

.header-logo__button {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.header-logo__button-image {}