@use "../../presets" as *;
@use "../../mixins" as *;



.header-menu__logo {
    grid-area: logo;
}

.logo {

    &__picture {}

    &__image {
        width: 155px;

        @include sm {
            width: 78px;
        }
    }
}