@use "../../../../presets" as *;
@use "../../../../mixins" as *;


.team-container {
  position: relative;

  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.team {
  &-picture {
    max-width: 1440px;

    &__image {
      width: 100%;
      height: auto;
    }
  }

  &-title {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;

    opacity: 0.8;
    color: #ffffff;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);

    font-size: 96px;
    line-height: 113px;

    @include xl {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 20px;
    }
  }
}

.team-block {
  display: flex;
  justify-content: center;

  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 92px;

  gap: 41px;

  @include lg {
    flex-direction: column;
  }


  &__description {
    display: flex;
    flex-direction: column;


    @include lg-min {
      max-width: 641px;
    }


    gap: 20px;
  }

  &__description-text {
    color: #000000;

    font-size: 21px;
    line-height: 30px;
    //font-weight: 500;

    @include sm {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__title {


    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

    @include lg-min {
      max-width: 414px;
    }


    @include md {
      font-size: 32px;
      line-height: 38px;
    }
  }
}